/* body {
  font-family: 'Arial', sans-serif;
  background-color: #007bff;
}

.jumbotron {
  border-radius: 10px;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

footer {

  margin-top: 290px;
  font-size: 0.9rem;
} */
